<ion-header>
  <ion-toolbar>
    <ion-title>
      Weather App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-item>
      <ion-input [(ngModel)]="city" placeholder="Enter city"></ion-input>
    </ion-item>
    <ion-button expand="full" (click)="getWeather()">Get Weather</ion-button>

    <div *ngIf="weatherData" class="weather-info">
      <h2>{{ weatherData.name }}</h2>
      <p>Temperature: {{ weatherData.main.temp }}°C</p>
      <p>Description: {{ weatherData.weather[0].description }}</p>
    </div>
  </div>
</ion-content>
